{
    "env": {
    "browser": true,
        "es6": true,
        "node": true
},

//    "extends": "eslint:recommended", // включены рекомендованные правила которые сообщают о частых ощшибках


    "parserOptions": {
    "ecmaVersion": 6

},


    "rules": {
    "indent": [2, "tab"],
    "linebreak-style": [2, "windows"],
    "quotes": [2, "double", { "avoidEscape": true,"allowTemplateLiterals": true }],
    "semi": [2, "always",{"omitLastInOneLineBlock": false}],
    "comma-spacing":[ "error",{ "before": true, "after": true }]
//    "strict": [1, "global"]

}
}